@use "./../styles/variables" as var;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.navbar {
  background-color: var.$nord0;
  height: 80px;
  margin: 10px 10px 0px 10px;
  padding: 0;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameTag {
    height: 100%;
    display:flex;
    padding-right: 20px;
}


.wrapper{
    margin:auto;
    display:flex;
    flex-direction:column;
}

.name {
    text-align: right;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: var.$nord4;
}

.domain {
    color: var.$nord3;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.iconWrapper{
    height: 100%;
    display:flex;
    padding-left: 20px;
}

.icon {
    font-size: 25px;
    color: var.$nord4;
    margin: auto;
}
