@use "./../styles/variables" as var;

.sidebar {
  background-color: var.$nord0;
  padding: 0;
  border-radius: 6px;
}

.hideSidebarContent {
  visibility: hidden;
}

.showSidebarContent {
  visibility: visible;
}

.sidebarContent {
  padding: 0px;
  color: var.$nord4;
}

.sidebarHeading {
  background-color: var.$nord10;
  margin-top: 30px;
  padding-left: 10px;
  font-family: "Rubik";
  font-weight: bold;
}
/*screen is smaller than break size*/
@media (max-width: var.$mobile-breakpoint) {
  .sidebar {
    margin: 10px 10px 10px 10px;
  }
  .opened {
    height: 300px;
    min-height: 300px;
  }

  .closed {
    height: 0px;
    margin: 0px 0px 0px 0px;
  }
}

/*screen is bigger than break size*/
@media (min-width: var.$mobile-breakpoint) {
  .sidebar {
    margin: 10px 0px 10px 10px;
  }

  .opened {
    width: 300px;
    min-width: 300px;
  }

  .closed {
    width: 0px;
    margin: 10px 0px 10px 0px;
  }
}
