.sidebar {
  background-color: #50ffff;
  margin: 10px 0px 10px 10px;
  padding: 0;
  width: 300px;
  border-radius: 6px;
}

.opened {
  background-color: var(--nord0);
}

.closed {
  background-color: var(--nord1);
}
