@use "./../styles/variables" as var;

.sidebar {
  background-color: var.$nord0;
  padding: 0;
  border-radius: 6px;
}

.hideSidebarContent {
  visibility: hidden;
}

.showSidebarContent {
  visibility: visible;
}

.sidebarContent {
  padding: 0px;
  color: var.$nord4;
  flex-direction: column;
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebarHeading {
  background-color: var.$nord10;
  padding-left: 20px;
  font-family: "Rubik";
  font-weight: bold;
}

.sidebarList {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sidebarListItem {
  padding-left: 20px;
  padding-top: 10px;
  color: var.$nord4;
  text-decoration: none;
  font-weight: normal;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.sidebarListItem:hover {
  color: var.$nord9;
}

/*screen is smaller than break size*/
@media (max-width: var.$mobile-breakpoint) {
  .sidebar {
    margin: 10px 10px 10px 10px;
  }
  .opened {
    height: 300px;
    min-height: 300px;
  }

  .closed {
    transition: height 2s, margin 2s;
    height: 0px;
    margin: 0px 10px 0px 10px;
  }

  .sidebarHeading {
    margin-top: 20px;
  }
}

/*screen is bigger than break size*/
@media (min-width: var.$mobile-breakpoint) {
  .sidebar {
    margin: 10px 0px 10px 10px;
  }

  .opened {
    width: 300px;
    min-width: 300px;
  }

  .closed {
    width: 0px;
    margin: 10px 0px 10px 0px;
    transition: width 2s;
  }

  .sidebarHeading {
    margin-top: 30px;
  }
}
