@use "./../styles/variables" as var;

.wrapper {
  flex-grow: 1;
  display: flex;
  height: 40px;
}

.test{
  height:20px;
}

@media (max-width: var.$mobile-breakpoint) {
  .wrapper {
    flex-direction: column;
  }
}

@media (min-width: var.$mobile-breakpoint) {
  .wrapper {
    flex-direction: row;
  }
}


